<h2>Как мы работаем</h2>
<div class="comment">


    <div class="comment-image">
        <img src="img/home.png" alt="home">
    </div>
    <div class="comment-content">
        <h3>Заказчик приглашает нас на замер</h3>
        <p>Используя телефон, почту или форму обратной связи на сайте</p>
        <p class="comment-detail">Date or details about this post</p>
    </div>
</div>

<div class="comment">
    <div class="comment-image">
        <img src="img/car.png" alt="Logo image">
    </div>
    <div class="comment-content">
        <h3>Мы выезжаем к вам на замер</h3>
        <p>Наши сотрудники с пониманием учтут все ваши пожелания</p>
        <p class="comment-detail">Date or details about this post</p>
    </div>
</div>

<div class="comment">
    <div class="comment-image">
        <img src="img/Money.png" alt="Logo image">
    </div>
    <div class="comment-content">
        <h3>У нас 100% предоплата</h3>
        <p>adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="comment-detail">Date or details about this post</p>
    </div>
</div>

<div class="comment">
    <div class="comment-image">
        <img src="img/pen.png" alt="Logo image">
    </div>
    <div class="comment-content">
        <h3>Заключаем договор</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="comment-detail">Date or details about this post</p>
    </div>
</div>

<div class="comment">
    <div class="comment-image">
        <img src="img/eskis.png" alt="Logo image">
    </div>
    <div class="comment-content">
        <h3>Разрабатываем и согласум эскиз</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="comment-detail">Date or details about this post</p>
    </div>
</div>

<div class="comment">
    <div class="comment-image">
        <img src="img/work.png" alt="Logo image">
    </div>
    <div class="comment-content">
        <h3>Осуществляем изготовление и монтаж в установленные сроки</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="comment-detail">Date or details about this post</p>
    </div>
</div>
