.section_2
	.h2-wrapper
		padding: 30px
		background-color: black
		border-radius: 8px
		opacity: 0.7
		box-shadow: 3px 3px 3px black
		display: inline-block


.parallax-static-content
	button
		color: white
		font-family: $font
		border: 1px solid white
		background-color: #B10602

	h2
		color: white
		line-height: 30px
		font-family: $font


	h1
		font-family: $font
		font-size: 36px
		line-height: 70px
		color: white
		span
			font-size: 60px
